.content {
    width: 875px;
    margin: 0 auto;
    position: relative;
    height: 220px;
}

.equation {
    height: 100px;
    width: 875px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

.equation div {
    display: inline-block;
}

.equation__elem {
    border-radius: 6px
}

.equation__sum {
    width: 60px;
    font-size: 40px;
    border: 1px solid #41565e;
    border-radius: 6px;
}

.intervals-box {
    margin-left: 36px;
    font-size: 0;
    height: 200px;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
}

.interval {   
    z-index: 2;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.interval p {
    display: block;
    font-size: 20px;
    margin: auto;
}

.interval img {
    display: block;
    padding: 0;
}

.interval input {
    width: 15px;
    display: block;
    margin: 0 auto;
    border: 1px solid #41565e;
    border-radius: 4px;
    font-size: 20px;
}

.axis {
    position: relative;
    bottom: 24px;
}

.axis-box {
    position: absolute;
    bottom: 0;
    height: 150px;
}